#left {
    /*TODO: create a flexbox to make columns for each layer of the elimination bracket*/
    display: flex;
    align-items:flex-start
}
#right {
    /*TODO: create a flexbox to make columns for each layer of the elimination bracket*/
    display: flex;
    align-items:flex-start
}